@media screen and (min-width: 640px) and (max-width: 878px){
  .brano{
  width: calc((100% / 4) - 20px);
  }
}

@media screen and (max-width: 639px){
  .brano{
  width: calc((100% / 2) - 20px);
  }
}

@media screen and (max-width: 552px){
  .disappear, .playlist {
    display: none;
  }
  header #logo img:last-child{
    display: block;
    width: 30px;
  }

  header nav{
    width: 50px;
    justify-content: center;
  }

  main{
    width: calc(100% - 50px);
  }

  .logo{
    flex-grow: 1;
    text-align: center;
  }

  header #logo, header li{
      padding: 0;
      margin-top: 10px;
      text-align: center;
  }

  header .profilo{
    margin: 10px 0;
    padding-top: 10px;
    text-align: center;
  }

}
